.container {
  display: flex;
  margin-bottom: 20px;

  padding: 10px;
}

.item {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(196, 175, 18);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(247, 240, 191);

}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}
