body {
  font-family: Arial, sans-serif;
}

.flex-container, .inline-flex-container {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.flex-container > div, .inline-flex-container > div {
  background-color: #8db1e2;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
  flex: 1;
}

.flex-container {
  display: flex;
}

.inline-flex-container {
  display: inline-flex;
}
